#s-026cf5ab-b373-420c-9071-5e9570afea95 > #backgroundBox {
  background-color: #13171C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBar {
  position: absolute;
  width: 415px;
  height: 80px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #A677E6;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox {
  position: absolute;
  width: 415px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox > .paddingLayer {
  height: 79px;
  width: 415px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox span#rtr-s-topBox_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-statusBar {
  position: absolute;
  width: 401px;
  height: 25px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time .valign {
  vertical-align: middle;
  text-align: center;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time span#rtr-s-time_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage .valign {
  vertical-align: middle;
  text-align: center;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage span#rtr-s-percentage_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage span#rtr-s-percentage_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-signal > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-signal {
  position: absolute;
  width: 20px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-signal > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-signal > svg {
  height: 12px;
  width: 20px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-wifi > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-wifi {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-wifi > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-wifi > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 span#rtr-s-m1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-battery > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-battery {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-battery > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-battery > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-bluetooth > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-bluetooth {
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-bluetooth > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-bluetooth > svg {
  height: 13px;
  width: 13px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-backBtn > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-backBtn {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-backBtn > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-backBtn > svg {
  height: 35px;
  width: 35px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 20.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title span#rtr-s-title_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Hotspot_3 {
  position: absolute;
  width: 31px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Hotspot_3 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Hotspot_3 > svg {
  height: 36px;
  width: 31px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #372737;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: 0px 5px 5px 0px #000000;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 {
  position: absolute;
  width: 0px;
  height: 130px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 > .paddingLayer {
  height: 115px;
  width: 27px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Panel_1 {
  width: 0px;
  height: 77px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 88px;
  height: 77px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar input::-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar input:-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar {
  position: absolute;
  width: 0px;
  height: 32px;
  opacity: 0.25;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLocBar > .paddingLayer {
  height: 32px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc input::-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc input:-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc {
  position: absolute;
  width: 0px;
  height: 27px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLoc > .paddingLayer {
  height: 27px;
  width: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar input::-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar input:-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar {
  position: absolute;
  width: 0px;
  height: 32px;
  opacity: 0.25;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLocBar > .paddingLayer {
  height: 32px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-destLogo > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-destLogo {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-destLogo > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-destLogo > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLogo > svg {
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLogo {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLogo > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLogo > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc input::-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc input:-moz-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc {
  position: absolute;
  width: 0px;
  height: 27px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-homeLoc > .paddingLayer {
  height: 27px;
  width: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 5px;
  height: 5px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
  overflow: hidden;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 5px;
  height: 5px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Ellipse_1 {
  width: 5px;
  height: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 > .shapert-clipping {
  width: 5px;
  height: 5px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
  overflow: hidden;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  width: 5px;
  height: 5px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Ellipse_2 {
  width: 5px;
  height: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt span#rtr-s-distanceTxt_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-topLine marker {
  fill: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-topLine {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topLine {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-btmLine marker {
  fill: #FFFFFF;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-btmLine {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-btmLine {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip_1 {
  position: absolute;
  width: 414px;
  height: 59px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_5 {
  position: absolute;
  width: 62px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_5 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_5 > svg {
  height: 21px;
  width: 62px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_11 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_11 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_12 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_12 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_3 {
  position: absolute;
  width: 375px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_3 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_3 > svg {
  height: 50px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip_2 {
  position: absolute;
  width: 414px;
  height: 59px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_1 {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_1 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_1 > svg {
  height: 40px;
  width: 40px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_1 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_1 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_2 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_2 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_2 {
  position: absolute;
  width: 375px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_2 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_2 > svg {
  height: 50px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip_3 {
  position: absolute;
  width: 414px;
  height: 59px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_2 {
  position: absolute;
  width: 62px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_2 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_2 > svg {
  height: 21px;
  width: 62px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_3 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_3 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_4 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_4 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_1 {
  position: absolute;
  width: 375px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_1 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot_1 > svg {
  height: 50px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip_4 {
  position: absolute;
  width: 414px;
  height: 59px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_3 {
  position: absolute;
  width: 62px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_3 > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_3 > svg {
  height: 21px;
  width: 62px;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 > .clipping, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_5 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_5 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_6 marker {
  fill: #A677E6;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 414px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_6 {
  width: 414px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A677E6;
  box-shadow: none;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot {
  position: absolute;
  width: 375px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot > img, #s-026cf5ab-b373-420c-9071-5e9570afea95 #s-trip4_hotspot > svg {
  height: 50px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}