#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-destLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-currentLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-distanceTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-topLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-btmLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-026cf5ab-b373-420c-9071-5e9570afea95 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}