#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Paragraph_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-statsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-statsLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-speechTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-speechLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-bacTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-bacLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-emergencyTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-emergencyLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-profileTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-profileLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-profileDetailsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-emailLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_1 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_1 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_1 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-phoneLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_2 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_2 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-addressLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-cardLogo {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_3 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_3 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_3 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_4 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_4 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_5 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_5 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-cardDetailsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_6 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_6 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_7 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_7 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_7 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-carDetailsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-logOutBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6DFD9C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6DFD9C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD9C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6DFD9C;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 306px;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Paragraph_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  padding-top: 28px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 122px;
  width: 254px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-logOutBtn_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 306px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}