#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-statsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-statsLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-speechTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-speechLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-bacTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-bacLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-emergencyTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-emergencyLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-profileTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-profileLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-profileDetailsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-emailLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-phoneLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-addressLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-cardLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-cardDetailsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-shownLine_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-popOut_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-carDetailsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-logOutBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e #s-logOutBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-237fc89b-8f23-466c-aff3-f4cb11b0374e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}