#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-topLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-bookValetBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}