#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-topLine {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-topLine {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe #s-bookValetBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-324a752d-f5a1-42ad-9362-8aa7b02c2bbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}