#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-topLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 #s-bookValetBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-338ba080-e40b-43ad-aee1-8cb5c4793132 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}