#s-416225be-3e12-4d45-a54a-28d915daa06d #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-notifyBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}