#s-416225be-3e12-4d45-a54a-28d915daa06d #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-notifyBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-416225be-3e12-4d45-a54a-28d915daa06d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}