#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-topLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b #s-bookValetBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-41c262cf-1c54-407a-8d90-4be1dd90bd7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}