#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4d6f0de6-242c-4194-b1ad-9afa637f0e86 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}