#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-bookValetBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e #s-bookValetBtn_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c3ad1f7-b0d2-41f8-b0d6-8f3225102d9e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}