#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-statsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-statsLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-speechTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-speechLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-bacTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-bacLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-emergencyTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-emergencyLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-profileTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-profileLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-retestBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-bacNumberTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-percentageBACTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-limitTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-soberTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-longBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-shortBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-percentageTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df #s-numTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-61c9bbd7-be56-4ef7-8c25-a83bebad92df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}