#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-btn_1 {
  -ms-transform: rotate(180.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-nameEmailTitle {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_1 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_1 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-passwordTitle {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_2 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_2 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_2 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_2 {
  -ms-transform: rotate(180.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-formatTxt_2 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_4 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_4 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_4 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-addressTitle {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_3 {
  -ms-transform: rotate(180.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_5 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_5 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_5 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-dobTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-bdNextBtn {
  -ms-transform: rotate(180.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-formatTxt {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_6 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_6 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_6 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-panelTitle {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-mobileNextBtn_1 {
  -ms-transform: rotate(180.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-formatTxt_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_7 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-panelTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-cardNextBtn_2 {
  -ms-transform: rotate(180.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_7 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_7 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_7 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_8 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_8 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_8 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_9 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_9 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_9 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_8 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-registerBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_3 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_3 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_3 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_10 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-shownLine_10 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-popOut_10 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-carTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-formatTxt_3 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Ellipse_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn_9 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-bySigningUp {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-tnCBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-circle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a #s-title {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-76d8aba9-8730-4e67-9bcb-1fe202aca34a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}