#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e > #backgroundBox {
  background-color: #13171C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Notification_medium {
  position: absolute;
  width: 415px;
  height: 129px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 {
  position: absolute;
  width: 414px;
  height: 35px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 > .paddingLayer {
  height: 34px;
  width: 412px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 {
  position: absolute;
  width: 415px;
  height: 129px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 > .paddingLayer {
  height: 127px;
  width: 413px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_99 span#rtr-s-Label_99_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FF5A00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5A00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5A00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5A00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5A00;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 > .paddingLayer {
  height: 12px;
  width: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_105 span#rtr-s-Label_105_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 {
  position: absolute;
  width: 262px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 > .paddingLayer {
  height: 18px;
  width: 262px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_106 span#rtr-s-Label_106_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_108 span#rtr-s-Label_108_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 span#rtr-s-Label_100_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Label_100 span#rtr-s-Label_100_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-navBar {
  position: absolute;
  width: 414px;
  height: 60px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 {
  position: absolute;
  width: 414px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 > .paddingLayer {
  height: 59px;
  width: 414px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-stats {
  position: absolute;
  width: 60px;
  height: 51px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt span {
  color: #A677E6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsTxt span#rtr-s-statsTxt_0 {
  color: #A677E6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsLogo > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsLogo {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsLogo > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsLogo > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsHotspot {
  position: absolute;
  width: 60px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsHotspot > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsHotspot > svg {
  height: 51px;
  width: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speech {
  position: absolute;
  width: 50px;
  height: 51px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechTxt span#rtr-s-speechTxt_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechLogo > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechLogo {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechLogo > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechLogo > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechHotspot {
  position: absolute;
  width: 50px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechHotspot > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-speechHotspot > svg {
  height: 51px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTest {
  position: absolute;
  width: 56px;
  height: 51px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacTxt span#rtr-s-bacTxt_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacLogo > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacLogo {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacLogo > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacLogo > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacHotspot {
  position: absolute;
  width: 56px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacHotspot > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bacHotspot > svg {
  height: 51px;
  width: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergency {
  position: absolute;
  width: 73px;
  height: 51px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyTxt span#rtr-s-emergencyTxt_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyLogo > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyLogo {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyLogo > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergencyLogo > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergHotspot {
  position: absolute;
  width: 73px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergHotspot > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-emergHotspot > svg {
  height: 51px;
  width: 73px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profile {
  position: absolute;
  width: 50px;
  height: 51px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileTxt span#rtr-s-profileTxt_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileLogo > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileLogo {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileLogo > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileLogo > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileHotspot {
  position: absolute;
  width: 50px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileHotspot > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-profileHotspot > svg {
  height: 51px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBar {
  position: absolute;
  width: 415px;
  height: 80px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #A677E6;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox {
  position: absolute;
  width: 415px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox > .paddingLayer {
  height: 79px;
  width: 415px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-topBox span#rtr-s-topBox_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statusBar {
  position: absolute;
  width: 401px;
  height: 25px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-time span#rtr-s-time_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage span#rtr-s-percentage_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-percentage span#rtr-s-percentage_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-signal > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-signal {
  position: absolute;
  width: 20px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-signal > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-signal > svg {
  height: 12px;
  width: 20px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-wifi > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-wifi {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-wifi > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-wifi > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-m1 span#rtr-s-m1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-battery > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-battery {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-battery > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-battery > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bluetooth > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bluetooth {
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bluetooth > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-bluetooth > svg {
  height: 13px;
  width: 13px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-backBtn > svg {
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-backBtn {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-backBtn > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-backBtn > svg {
  height: 35px;
  width: 35px;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 20.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-title span#rtr-s-title_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Hotspot_3 {
  position: absolute;
  width: 31px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Hotspot_3 > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Hotspot_3 > svg {
  height: 36px;
  width: 31px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsImg {
  position: absolute;
  width: 378px;
  height: 218px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsImg > img, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-statsImg > svg {
  height: 214px;
  width: 374px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-consumptionLvlTxt span#rtr-s-consumptionLvlTxt_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-avgBACLevel {
  position: absolute;
  width: 375px;
  height: 47px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #372737;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 {
  position: absolute;
  width: 375px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 > .paddingLayer {
  height: 43px;
  width: 318px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 55px;
  padding-right: 2px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-equivBeer {
  position: absolute;
  width: 375px;
  height: 48px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #372737;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 {
  position: absolute;
  width: 375px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 > .paddingLayer {
  height: 44px;
  width: 318px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 55px;
  padding-right: 2px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 > .clipping, #s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-77d15ba5-1d5e-4db6-bc33-ef0f335c231e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}