#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Rich_text_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5A00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5A00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5A00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5A00;
  border-radius: 4px 4px 4px 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 12px;
  width: 12px;
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_105 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Paragraph_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-statsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-statsLogo {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-speechTxt {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-speechLogo {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-bacTxt {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-bacLogo {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-emergencyTxt {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-emergencyLogo {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-profileTxt {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-profileLogo {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-statsImg {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-consumptionLvlTxt {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Paragraph_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Paragraph_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}