#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-statsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-statsLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-speechTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-speechLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-bacTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-bacLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-emergencyTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-emergencyLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-profileTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-profileLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-statsImg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-consumptionLvlTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-999c0e0d-5c15-4aa9-9b59-3b435b187b37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}