#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9c2828c0-c16c-4749-8ec3-4da9248f2b96 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}