#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Contact-list-Screen {
  border-collapse: separate;
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Cell-header > .valign {
  vertical-align: top;
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Cell-content > .valign {
  vertical-align: middle;
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Label_689 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_235 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_129 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_129 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_250 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_130 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_130 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_251 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_131 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_131 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_252 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_132 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_132 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_253 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Label_690 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_254 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_134 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_134 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_255 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_135 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_135 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_256 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_136 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_136 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_257 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_137 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_137 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_258 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_138 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_138 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_259 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Label_691 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_260 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_140 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_140 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Rich_text_261 {
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_141 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Line_141 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Paragraph_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  padding-top: 28px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 122px;
  width: 254px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-b7f96204-756f-4c3f-967a-0792f590487c #s-Text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7f96204-756f-4c3f-967a-0792f590487c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}