#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-statsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-statsLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-speechTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-speechLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bacTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bacLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-emergencyTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-emergencyLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-profileTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-profileLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-plugInTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-tapAndBlowTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-resultsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-testBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-soundgif {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-testBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-testBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-longBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-shortBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-timeTkane {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-wrongWordTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-clarity {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bacNumberTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-percentageBACTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-limitTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-retestBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}