#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Paragraph_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-statsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-statsLogo {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-speechTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-speechLogo {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bacTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bacLogo {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-emergencyTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-emergencyLogo {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-profileTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-profileLogo {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-plugInTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-tapAndBlowTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-resultsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-testBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-soundgif {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-testBtn_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-testBtn_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-longBar {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-shortBar {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-timeTkane {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-wrongWordTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-clarity {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second_1 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second_2 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-second_3 {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-bacNumberTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-percentageBACTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-limitTxt {
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-retestBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Paragraph_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  padding-top: 28px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 122px;
  width: 254px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 #s-Text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-caa8bd89-e060-4c69-ae70-7280e5aee347 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}