#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-notifyBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e77bd7a6-6c15-4022-bf5c-280fe72d813e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}