#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-vroomLogo {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-Paragraph_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FF5A00;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FF5A00;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FF5A00;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FF5A00;
  border-radius: 14px 14px 14px 14px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 58px;
  width: 270px;
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-pleaseEnterTxt {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-shownLine {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-shownLine {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-popOut {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-emailLogo {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-resetPasswordBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-title {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}