#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-vroomLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-pleaseEnterTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-shownLine {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-popOut {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-emailLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-resetPasswordBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ec06da62-88ef-4b50-a496-687d9f02b600 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}