#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Paragraph_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-statsTxt {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-statsLogo {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-speechTxt {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-speechLogo {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-bacTxt {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-bacLogo {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-emergencyTxt {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-emergencyLogo {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-profileTxt {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-profileLogo {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Rich_text_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5A00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5A00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5A00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5A00;
  border-radius: 4px 4px 4px 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 12px;
  width: 12px;
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_105 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-topBox {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-percentage {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-signal {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-wifi {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-m1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-battery {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-bluetooth {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-backBtn {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-notifyBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-notifyBtn_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #684460;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #684460;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #684460;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #684460;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}