#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-statsTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-statsLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-speechTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-speechLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-bacTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-bacLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-emergencyTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-emergencyLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-profileTxt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-profileLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-topBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-percentage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-m1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-backBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-notifyBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb #s-notifyBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f7f5a7fa-dcfc-44ec-ad57-feb243926acb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}